

<!DOCTYPE html>
<html>

<body>
	<div class="container">
	    <form method="POST" action="save/">
		<table border="0" height="100%" width="100%" align="center" valign="center">
		    <TR height="100%" width="100%" align="center" valign="center">
		        <TD  height="100%" width="100%" align="center" valign="center">
                    <table border="0" width="500" align="center">
                        <TR> <TD colspan="2" height="20" align = "right"><h4><a href="/accounts/login/">Already have an account</a></h4></TD> </TR>
                        <TR> <TD colspan="2"><img src="http://art.ngfiles.com/images/24000/24497_machschneller_generic-background.jpg" class="logo-holder"/></TD> </TR>
                        <TR height="30"> <TD colspan="2" align="left"><h4>Register a new account or <a href="/accounts/login/">log in here</a></h4></TD> </TR>
                        
                        <TR height="30"> <TD colspan="2" align="left"><input type="username" class="form-control" placeholder="Username" name="username" data-error="Invalid Username" required /></TD> </TR>
                        <TR height="30"> <TD colspan="2" align="left"><input type="email" class="form-control" placeholder="Email" name="email" data-error="Invalid Email" required /></TD> </TR>
                        <TR height="30"> <TD colspan="2" align="left"><input type="password" name="password" class="form-control" placeholder="Password" data-error="Invalid Password" required /></TD> </TR>
                        <TR height="30"> <TD colspan="2" align="right"><button class="btn btn-lg btn-success" type="submit">Save</button></TD> </TR>
                    </table>
                </TD>
            </TR>
        </table>
		</form>
	</div>


</body>
</html>

