<!DOCTYPE html>
<html>
<body>
		<form method="POST" action='validate/' class="login-form" align="center">
                        <table border="0" width="500" align="center">
                        
                        <TR> <TD colspan="2" height="10" align = "right"><h4><a href="/accounts/new/">Create a new user</a></h4></TD> </TR>
                   
                        <TR> <TD colspan="2"><img src="http://art.ngfiles.com/images/24000/24497_machschneller_generic-background.jpg" align='center' class="logo-holder"/></TD> </TR>
                        <TR height="30"> <TD colspan="2" align="left"><h4>Welcome, please login.</h4></TD> </TR>
                        <TR height="70"> <TD colspan="2" align="left"><input type="email" style="border:none" name="email" id="email" placeholder="Email or Username" class="form-control" data-error="Invalid Email" required  /></TD> </TR>
                        <TR height="70"> <TD colspan="2" align="left"><input type="password" style="border:none" name="password" id="password" data-minlength=1 placeholder="Password" class="form-control" data-error="Invaild Password" required /></TD> </TR>
                        <TR height="70"> <TD colspan="2" align="right"><button type='submit' class="btn btn-success">Log in</button></TD> </TR>
                    </table>
                </TD>
            </TR>
        </table>
		</form>


</body>
</html>